.data {
    width: 100%; display: flex; justify-content: center; flex-wrap: wrap;
}

.actions {
    align-content:  center; width: 100%; height: 10%; flex-wrap: wrap;
}

.acoes {
    width: 100%; display: flex; align-items: center; flex-wrap: wrap; justify-content: space-around
}

body {
    background-color: #4b4c4b;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #D6EFD8;
    font-style: normal;
    font-size: 1rem;
}

button {
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.botao2, .botao4, .botao6 {
    background-color: #1A5319;
}

@media only screen and (max-device-width: 900px) {
    .data {
        flex-direction: column;
    }
    .acoes {
        flex-direction: column;
        justify-content: space-between;
    }

    .acaoi {
        margin-top: 30px;
    }
}